<configuration>

    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <target>System.err</target>
    </appender>

    <logger name="kafka.server.KafkaServer" level="DEBUG" additivity="false">
        <appender-ref ref="STDERR" />
    </logger>

    <root level="DEBUG">
        <appender-ref ref="STDERR" />
    </root>
</configuration>